.page-header
  %h1 What consoles do you own?
  %h4= link_to 'Create Console', new_console_path
.row-fluid
  %ul.thumbnails
    - @consoles.each do |console|
      %li.span3
        .thumbnail.center
          = cover_img(console)
          .caption
            %h4.title= link_to console.title, console
            .btn-group
              -if @owned_consoles.include?(console)
                = link_to 'Remove', add_remove_console_path(console), id: "console_#{console.id}", class: 'btn btn-danger', remote: true
              - else
                = link_to 'Add', add_remove_console_path(console), id: "console_#{console.id}", class: 'btn btn-success', remote: true
