%p#notice= notice

.row
  .span3.game
    %h1.page-header= @console.title
    %p= cover_img(@console, edit: true)
    .btn-group
      -if @own_console
        = link_to 'Remove', remove_console_path(@console), class: 'btn btn-info'
      - else
        = link_to 'Add', add_console_path(@console), class: 'btn btn-info'
    .btn-group
      = link_to 'Edit', edit_console_path(@console), class: 'btn btn-success'
      = link_to 'Delete', @console, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

  .span9.info
    %h2 Friends playing this console:
    .well