%p#notice= notice

.row
  .span3.item
    %h2= @console.title
    %p= cover_img(@console, edit: true)
    .btn-group
      -if @own_console
        = link_to 'Remove', add_remove_console_path(@console), id: "console_#{@console.id}", class: 'btn btn-danger add_remove', remote: true
      - else
        = link_to 'Add', add_remove_console_path(@console), id: "console_#{@console.id}", class: 'btn btn-success add_remove', remote: true
    .btn-group
      = link_to 'Edit', edit_console_path(@console), class: 'btn btn-default'
      = link_to 'Delete', @console, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'

  .span9.info
    %h2 Friends with this console:
    .well
      %p Coming soon...
