%h1.page-header= @user.username
.row
  .span2
    = image_tag @user.gravatar_url({size: 170}), data: {toggle: "tooltip"}
    - if @user == current_user
      = link_to 'Change your photo', 'https://gravatar.com', target: '_blank'
  .span3.offset1
    %h2 Consoles
    %ul
      - @consoles.each do |console|
        %li= link_to console.title, console_path(console)
      - if @consoles.empty?
        %li
          User has not added consoles...
    %h2 Games
    %ul
      - @games.each do |game|
        %li= link_to game.title, game_path(game)
      - if @games.empty?
        %li User has not added games...
  .span5
    %h2 Stats
    #chart
    = render_chart @chart, 'chart'
