%h1 Game Status
.notice
  = flash[:notice]
- if current_user.nil?
  = link_to("Login", { :controller => "sessions", :action => "new" })
- else
  = current_user.email
  = link_to("My Account", { :controller => "users", :action => "show", :id => current_user.id })
  = link_to("Logout", { :controller => "sessions", :action => "destroy" })