.page-header
  %h1 What games do you own?
  %h4= link_to 'Create Game', new_game_path
.row-fluid
  %ul.thumbnails
    - @games.each do |game|
      %li.span3
        .thumbnail
          = cover_img(game)
          .caption
            %h3= link_to game.title, game
            %span.btn-group.pull-right
              -if @owned_games.include?(game)
                = link_to 'Remove', add_remove_game_path(game), id: "game_#{game.id}", class: 'btn btn-danger', remote: true
              - else
                = link_to 'Add', add_remove_game_path(game), id: "game_#{game.id}", class: 'btn btn-success', remote: true
            %p Should there be a caption?