.row
  .span3.item
    %h2= @game.title
    %p= image_tag(img_url(@game.image_url, {w: 270, t: :fit}), class: 'cover_img')
  
    .btn-group
      -if @own_game
        = link_to 'Remove', add_remove_game_path(@game), id: "game_#{@game.id}", class: 'btn btn-danger add_remove', remote: true
      - else
        = link_to 'Add', add_remove_game_path(@game), id: "game_#{@game.id}", class: 'btn btn-success add_remove', remote: true
    .btn-group
      = link_to 'Edit', edit_game_path(@game), class: 'btn btn-default'
      = link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'
  
  .span9.info
    %h2 Friends with this game:
    .well
      %ul.stack
        - @friends_with_game.each do |friend|
          %li= link_to friend.username, user_path(friend)
        - if @friends_with_game.empty?
          %li No friends with this game
