%p#notice= notice

.row
  .span3.game
    %h1.page-header= @game.title
    %p= cover_img(@game, edit: true)
    .btn-group
      -if @own_game
        = link_to 'Remove', remove_game_path(@game), class: 'btn btn-info'
      - else
        = link_to 'Add', add_game_path(@game), class: 'btn btn-info'
    .btn-group
      = link_to 'Edit', edit_game_path(@game), class: 'btn btn-success'
      = link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
  .span9.info
    %h2 Friends playing this game:
    .well
    %h3 Available platforms:
    .well
