.row
  .span3.item
  
    %h1.page-header= @game.title
  
    %p= cover_img(@game, edit: true)
  
    .btn-group
      -if @owned_games.include?(@game)
        = link_to 'Remove', add_remove_game_path(@game), id: "game_#{@game.id}", class: 'btn btn-danger', remote: true
      - else
        = link_to 'Add', add_remove_game_path(@game), id: "game_#{@game.id}", class: 'btn btn-success', remote: true
    .btn-group
      = link_to 'Edit', edit_game_path(@game), class: 'btn btn-default'
      = link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'
  
  .span9.info
    %h2 Friends playing this game:
    .well
      - @play_times.each_with_index do |play_time, i|
        %blockquote
          %p
            \#
            = play_time.play_times[i].id
            \:
            = play_time.username
            @
            = play_time.play_times[i].start.strftime "%a %l:%M%p"
            %small
              in
              = distance_of_time_in_words_to_now play_time.play_times[i].start
            