.well.well-small.play_time{class: (flash[:action] if flash[:id] == play_time.id)}

  .content

    %p.info.lead
      %abbr{title: play_time.start.strftime("%A %b %e,%l:%M%p %z") + ' (' + play_time.user.username + ')' }= play_time.start.strftime "%a %l:%M%p"
      #{link_to play_time.game.title, play_time.game} on #{link_to play_time.console.title, play_time.console} for #{play_time.duration_in_hours_minutes}
    
    .attendance_controls.pull-right
      - if play_time.attending?(current_user.id)
        = link_to "Pass", unattend_path(play_time), class: 'btn btn-mini pass'
      - else
        - unless play_time.responded?(current_user.id)
          = link_to "Pass", unattend_path(play_time), class: 'btn btn-mini pass'
        = link_to "Add", attend_path(play_time), class: 'btn btn-mini btn-primary add'

    .meta
      %span.time_in_words.muted
        - if play_time.in_progress?
          In Progress!
        - else
          in #{distance_of_time_in_words_to_now play_time.start}
      %span.attendance 
        %em
          - play_time.attendees.where(attending: true).order(:attending).each do |attendee|
            = link_to image_tag(attendee.user.gravatar_url({size: 25}), data: {toggle: "tooltip"}, title: attendee.user.username + ' is in!', class: 'attendee in'), user_path(attendee.user)
          - play_time.attendees.where(attending: false).each do |attendee|
            = link_to image_tag(attendee.user.gravatar_url({size: 25}), data: {toggle: "tooltip"}, title: attendee.user.username + ' is out...', class: 'attendee out'), user_path(attendee.user)
