= render "layouts/validations", object: @play_time
%h1.page-header When are you playing next?
.row
  .span6
    %h4 New Play Time

    = form_for @play_time, html: { class: 'form-horizontal' } do |f|

      #tell.control-group
        = f.label :notify, "Tell <span id='tell_count'></span> friends".html_safe, class: 'control-label'
        .controls
          = f.check_box :notify, autofocus: true
          %span#tell_names.help-block

      .control-group
        = f.label :start_time, "at", class: 'control-label'
        .controls
          = f.text_field :start_time, placeholder: '8 pm', class: 'span2 pop', title: 'Future Start Time', data: { :content => 'Now, 2pm, Tomorrow 5:30pm, Sunday 11am, Tue 10 to 8, January 5 at 7pm' }

      .control-group
        = f.label :game_id, "I'm playing", class: 'control-label'
        .controls
          = f.select :game_id, options_from_collection_for_select(current_user.games, :id, :title)

      .control-group
        = f.label :console_id, "on", class: 'control-label'
        .controls
          = f.select :console_id, options_from_collection_for_select(current_user.consoles, :id, :title)

      .control-group
        = f.label :duration_text, "for", class: 'control-label'
        .controls
          = f.text_field :duration_text, placeholder: '2 hrs', class: 'span2 pop', title: 'Duration', data: { :content => '45min, 90min, 1hr, 2hr, 2hr 30min' }

      .control-group
        .controls
          = f.submit 'Create', class: 'btn btn-success', disable_with: "Creating..."

  .span6#play_list
    = render partial: 'play_list'

:coffeescript
  $ ->
    GS.pusher.play()