= render "layouts/validations", object: @play_time
.row
  .span6
    %h4 New Play Time
    = form_for @play_time, html: { class: 'form-horizontal' } do |f|
      .control-group
        = f.label :start_time, "At", class: 'control-label'
        .controls
          = f.text_field :start_time, placeholder: '8 pm', class: 'span2'

      .control-group
        = f.label :game_id, "I'm playing", class: 'control-label'
        .controls
          = f.select :game_id, options_from_collection_for_select(current_user.games, :id, :title)

      .control-group
        = f.label :console_id, "on", class: 'control-label'
        .controls
          = f.select :console_id, options_from_collection_for_select(current_user.consoles, :id, :title)

      .control-group
        = f.label :duration_text, "for", class: 'control-label'
        .controls
          = f.text_field :duration_text, placeholder: '2 hrs', class: 'span2'

      .control-group
        .controls
          = f.submit 'Save', class: 'btn btn-success'
          = link_to 'Cancel', games_path, class: 'btn btn-info'
  .span6
    %h4 Existing Play Times
    - @play_times.each do |play_time|
      %blockquote
        %p
          = play_time.start.strftime "%a %l:%M%p"
          = play_time.game.title
          / = link_to '[edit]', edit_play_time_path(Game.find(play_time.game_id))
          %small
            - if play_time.in_progress?
              In Progress
            - else
              in
              = distance_of_time_in_words_to_now play_time.start