= form_for @play_time, html: { class: 'form-horizontal' } do |f|
  .control-group
    = f.label :start, "At", class: 'control-label'
    .controls
      = f.text_field :start, value: '8 pm', class: 'span1'

  .control-group
    = f.label :game_id, "I'm playing", class: 'control-label'
    .controls
      = f.select :game_id, options_from_collection_for_select(current_user.games, :id, :title)

  .control-group
    = f.label :console_id, "on", class: 'control-label'
    .controls
      = f.select :console_id, options_from_collection_for_select(current_user.consoles, :id, :title)

  .control-group
    = f.label :end, "for", class: 'control-label'
    .controls
      = f.text_field :end, value: '2 hrs', class: 'span1'

  .control-group
    .controls
      = f.submit 'Save', class: 'btn btn-success'
      = link_to 'Cancel', games_path, class: 'btn btn-info'
