%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "Game Time", '#', id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Home", '#'
          %li= link_to "Friends", '#'
          %li= link_to "Settings", '#'
          %li= link_to "Account", '#'
