%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "Game Time", root_path, class: "brand"
      %a{:class => "btn btn-navbar", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %nav.nav-collapse
        %ul.nav.pull-right
          - if user_signed_in?
            %li= link_to "Friends", friends_path
            %li= link_to 'Games', games_path
            %li= link_to 'Consoles', consoles_path
            %li= link_to 'Account', edit_user_registration_path
            %li.divider-vertical
            %li= link_to 'Logout', destroy_user_session_path, method: :delete
            %li.divider-vertical
          - else
            %li= link_to 'Login', new_user_session_path
            %li= link_to 'Register', new_user_registration_path