!!! 5
= render 'layouts/shim'

%html
  %head

    %title= "GameTime " + controller.controller_name.capitalize

    %meta{:charset => 'utf-8'}
    = csrf_meta_tags
    = stylesheet_link_tag    :application, media: "all"
    = javascript_include_tag :application

  %body{class: controller.controller_name}
    = render 'layouts/header'
    .container{class: controller.action_name}
      = yield 

    = render 'layouts/footer'
